.app {
    margin: 10px auto;
    max-width: 1080px;
    height: 120px;
    background-image:url("assets/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    margin-left: 65px;
    margin-right: 30px ;
    max-width: 1000px;
    transform: skewx(-45deg);
}


.form {
    margin-top: 30px;
    line-height: 20px;
    flex: 1 2 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.enterNum {
    border: 2px white solid;
    margin-top: 30px;
    background-color: white;
    color: black;
    text-align: center;
    opacity: 0.7;
    flex: 1 2 500px;
}

.input {
    font-size: 20px;
    border: none;
    transform: skewX(45deg);
    background-color: white;
    width: 75%;
    margin: 7px 10px;
    outline:none;
    padding: 10px 5px;
}


.orderBtn {
    margin-top: 30px;
    background-color: red;
    line-height: 34px;
    border: 2px white solid;
    flex: 1 2 250px;
}

.orderBtn > div {
    color: white;
    font-size: 26px;
    transform: skewX(45deg);
    padding: 10px 5px;
}

.errorMessage {
    margin-top: -15px;
    margin-left: 20px;
    color: red;
}

@media screen and (max-width: 677px) {
    .app {
        width: 100%;
    }

    .container {
        margin: auto;
        width: 80%;
        transform: skewx(0deg);
    }

    .form {
        line-height: 20px;
    }

    .enterNum {
        background-color: white;
        color: black;
        opacity: 0.5;
    }

    .input {
        font-size: 16px;
        transform: skewX(0deg);
        margin: 9px;
    }


    .orderBtn {
        line-height: 34px;
    }

    .orderBtn > div {
        font-size: 20px;
        transform: skewX(0deg);
    }
}
